.cookie-wrapper {
  position: relative;
  padding: 28px 52px;
}


.cookie-slider {
  display: flex;
  gap: 30px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 19px 0;
}

.cookie-card {

  min-width: 330px;
  max-width: 330px;
  border-radius: 14px;
  background: #fff;
}


.cookie-img {
  height: 220px;
  object-fit: cover;
  border-radius: 14px 14px 0 0;
}


.cookie-text {
  height: 60px;
  font-size: 15px;
  color: #333;
}


.buy-btn {
  background: #d06b2e;
  border: none;
  padding: 8px 28px;
  font-weight: 600;
  border-radius: 8px;
  font-size: 16px;
}


.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  background: white;
  border: none;
  font-size: 25px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}


.arrow-left {
  left: 5px;
}


.arrow-right {
  right: 4px;
}

.cookie-text {
  height: 70px;             
  overflow: hidden;         
  text-overflow: ellipsis;  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;        
  line-height: 1.4rem;       
}



.accordion-button {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #222;
  padding: 18px 20px;
}

.accordion-button:hover {
  background-color: #f3f3f3;
  color: #222;
}

.accordion-body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #444;
  padding: 20px;
  background: #fafafa;
}

.accordion-button:focus {
  box-shadow: none !important;
  border-color: transparent !important;
}

.about-banner {
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.about-banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.about-title {
  font-size: 40px;
}

.about-sub {
  font-size: 18px;
  color: #6c6c6c;
}

.about-text {
  font-size: 19px;
  color: #555;
  line-height: 1.6;
}


.about-img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 12px;
}


.about-btn {
  background: #9d5820d3;
  color: #fff;
  border: none;
  padding: 10px 24px;
  border-radius: 8px;
  margin-top: 10px;
  font-weight: 600;
}

.about-btn:hover {
  background-color: #00000086;
  color:#fff;
}


.mv-box {
  background: #fff7ef;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.08);
  margin-bottom: 20px;
  min-height: 250px;
}



/* Main wrapper */
.auth-wrapper {
  background: #eef3f9;
}

/* Left section */
.auth-left {
  background: #eef3f9;
}

.auth-illustration {
  width: 80%;
  opacity: 0.95;
  filter: blur(0.4px);
}

/* Right box */
.auth-box {
  width: 420px;
  background: #ffffff;
  border-radius: 12px;
}

/* Toggle buttons */
.auth-toggle {
  display: flex;
  justify-content: space-between;
}

.auth-toggle-btn {
  width: 50%;
  background: transparent;
  border: 1px solid #ccc;
  color: #555;
}

.auth-active-btn {
  width: 50%;
  background: #3d8bff;
  border: none;
  color: white;
  font-weight: 600;
}

/* Login/Register buttons */
.login-btn {
  background-color: #3d8bff;
  border: none;
  padding: 10px;
  font-weight: 600;
  border-radius: 6px;
}

/* hyperlinks */
.auth-link {
  color: #3d8bff;
  font-weight: 600;
}


/* login page  */


.auth-bg {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.auth-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/cards_img/About.png");
  background-size: cover;
  background-position: center;
  filter: blur(7px);   
  transform: scale(1.1);
  z-index: -1;
}


.auth-card {
  padding-left: 200px;
  margin-left: 30px;
  width: 100%;
  max-width: 520px;
  background: rgba(255, 255, 255, 0.96);
  padding: 35px 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  animation: fadeIn .4s ease;
}

/* Title */
.auth-title {
  font-size: 28px;
  font-weight: 700;
  color: #222;
  text-align: center;
  margin-bottom: 15px;
}

/* Toggle Buttons */
.toggle-btns button {
  border-radius: 20px !important;
  padding: 4px 20px;
}

/* Inputs */
.auth-input {
  height: 48px;
  border-radius: 10px !important;
  font-size: 15px;
}

/* Submit Button */
.auth-submit {
  height: 48px;
  background-color: #4b91f1 !important;
  border-radius: 2px !important;
  font-size: 17px;
  font-weight: 600;
}


.auth-footer .btn-link {
  font-weight: bold;
  color: #2563f7 !important;
  text-decoration: none;
}

/* Smooth Fade */
@keyframes fadeIn {
  from { opacity: 10; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
.auth-footer .btn-link:focus,
.auth-footer .btn-link:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
