.cookify-footer {
  width: 100%;
  background-color: #f1f8f9;
  color: #502d16; 
  text-align: center;
  padding: 20px 0;
  font-size: 15px;
  font-weight: 600;
  border-top: 1px solid #d7e6e8;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1000;
}

.cookify-footer span {
  color: #bb5e34;
}


.admin-bg {
  background: #f7f7f7;
  min-height: 90vh;
  padding-top: 60px;
}


.admin-heading {
  font-size: 28px;
  font-weight: 700;
  color: #6b3e2e;       
  font-family: Georgia, serif;
}


.admin-table {
  background: white !important;
  border-radius: 10px;
  overflow: hidden;
}



.simple-page-bg {
  min-height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
}

.simple-card {
  background: #fff;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.simple-btn {
  background: #9a4618;
  border: none;
  font-weight: 600;
  color: white;
}
.simple-title {
  color: #b3541e;     
  font-weight: 700;
  text-align: center;
}

.simple-page-bg {
  min-height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
}

.simple-card {
  background: #fff;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.simple-input {
  border-radius: 6px;
}

.simple-btn {
  background: #9a4618;
  border: none;
  font-weight: 600;
  color: white;
  padding: 10px;
  border-radius: 6px;
}
